.asset-card {
    margin: 0 auto;
    display: flex;
    width: 18rem;
}

.asset-card-subtitle {
    display: block;
    width: fit-content;
    margin-left: auto;
    font-size: .6rem;
}

.card-title {
    text-transform: uppercase;
}

.card-img {
    height: 10rem;
    object-fit: cover;
}